.ui-alert {
  background-color: #F2D3D3;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.ui-alert-title {
  color: #AF4341;
  font-weight: bold;
  font-size: 20px;
}

.ui-alert-message {
  margin-top: 10px;
  color: #AF4341;
}

.ui-accordion-title {
  cursor: pointer;
}

.ui-accordion-content {
  border: 1px dashed #CCCCCC;
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}